<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.mybatis.mapper.mapper.EmpMapper">
  <resultMap id="BaseResultMap" type="tk.mybatis.mapper.model.Emp">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="salary" jdbcType="DOUBLE" property="salary" />
    <result column="join_date" jdbcType="DATE" property="joinDate" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from emp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="tk.mybatis.mapper.model.Emp">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into emp (NAME, gender, salary, 
      join_date, dept_id)
    values (#{name,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, #{salary,jdbcType=DOUBLE}, 
      #{joinDate,jdbcType=DATE}, #{deptId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="tk.mybatis.mapper.model.Emp">
    update emp
    set NAME = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      salary = #{salary,jdbcType=DOUBLE},
      join_date = #{joinDate,jdbcType=DATE},
      dept_id = #{deptId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, NAME, gender, salary, join_date, dept_id
    from emp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, NAME, gender, salary, join_date, dept_id
    from emp
  </select>
</mapper>